body {
   background:
       linear-gradient(to right, blue, transparent),
       url(https://grainy-gradients.vercel.app/noise.svg);  
}
  
h1 {
  color: white;
  margin-left: 20px;
}
ul.a {
   list-style-type: square;
}
table, th, td{
   border:1px solid;
}
td {
   text-align:center;
}
tr:hover {background-color: lightblue;}
table {
   width:75%
}




#myDiv{
  background-color: white;
  border-style: inset;
  border-width:medium;
  border-color: red;
    
   
}
