#grad {
   background-image: linear-gradient(to right, blue, pink, purple);
}
  
h1 {
  color: white;
  margin-left: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}
p {
   line-height: 2.0;
   font-family: "Lucida Console", "Courier New", monospace;
}
ul.a {
   list-style-type: square;
}
table, th, td{
   border:1px solid;
   font-family: "Lucida Console", "Courier New", monospace;
}
td {
   text-align:center;
}
tr:hover {background-color: lightblue;}
table {
   width:75%;
   height:25%;
}




#myDiv{
  background-color: white;
  border-style: inset;
  border-width:medium;
  border-color: red;
    
   
}
